html {
	display: flex;
	box-sizing: border-box;
	min-height: 100%;
}

body {
	flex: 1;
	margin: 0;
	padding: 20px;
	border: 6px solid #000;
}

.slogan {
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
}